@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@import url("https://fonts.googleapis.com/css2?family=Antonio:wght@100..700&family=League+Spartan:wght@100..900&display=swap");

html,
body {
  min-height: 100vh;
}
body {
  background-color: #f8f8fb;
  font-family: "League Spartan", sans-serif;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  position: relative;
  z-index: 10;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.modal-content {
  width: 327px;
  padding: 32px;
  border-radius: 8px;
  background-color: #ffffff;
  position: relative;
  z-index: 1000;
}

.animatedBg {
  position: absolute;
  width: 100%;
  height: 100%;
  background: #141625;
  z-index: -2;
  clip-path: circle(0% at 0% 88%);
  transition: clip-path 1s ease-out;
}

.animatedBg.first {
  clip-path: circle(0% at 0% 60%);
}

.animatedBg.second {
  clip-path: circle(150.5% at 0% 60%);
}
@media (max-width: 1280px) {
  .animatedBg {
    clip-path: circle(0.5% at 90% 0%);
  }
  .animatedBg.first {
    clip-path: circle(0% at 90% 0%);
  }

  .animatedBg.second {
    clip-path: circle(150.5% at 82% 4%);
  }
}
@media (max-width: 768px) {
  .animatedBg {
    clip-path: circle(0.5% at 83% 0%);
  }
  .animatedBg.first {
    clip-path: circle(0% at 83% 0%);
  }

  .animatedBg.second {
    clip-path: circle(150.5% at 83% 4%);
  }
}
@media (max-width: 464px) {
  .animatedBg {
    clip-path: circle(0.5% at 70% 0%);
  }
  .animatedBg.first {
    clip-path: circle(0% at 70% 0%);
  }

  .animatedBg.second {
    clip-path: circle(150.5% at 70% 4%);
  }
}
.moon,
.sun {
  transition: transform 1s ease-in-out;
}

.moon {
  transform: rotate(0deg) scale(1);
}

.sun {
  transform: rotate(360deg) scale(1);
}

.moon.hidden {
  transform: rotate(360deg) scale(0);
}

.sun.hidden {
  transform: rotate(0deg) scale(0);
}
