@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@import url("https://fonts.googleapis.com/css2?family=Antonio:wght@100..700&family=League+Spartan:wght@100..900&display=swap");

#root {
  min-height: 100vh;
  font-family: "League Spartan", sans-serif;
  position: relative;
  z-index: 0;
}

:root {
  --gray: #7e88c3;
  --lightGray: #dfe3fa;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f8f8fb;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  position: relative;
  z-index: 10;
}

.modal-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.modal-content {
  width: 327px;
  padding: 32px;
  border-radius: 8px;
  background-color: #ffffff;
  position: relative;
  z-index: 1000;
}
