:root {
  --gray: "#7E88C3";
}

.halfSize {
  width: calc(50% - 8px);
}

.inputText {
  font-weight: 700;
  font-size: 15px;
  letter-spacing: -0.25px;
}
.labelStyle {
  font-weight: 500;
  font-size: 10px;
  letter-spacing: -0.1px;
  display: block;
}

.inputStyle {
  width: -webkit-fill-available;
  outline: none;
  height: 48px;
  padding: 18px 0px 15px 20px;
  border-radius: 4px;
  display: block;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.styled-select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.submitGroup {
  box-shadow: rgba(72, 84, 159, 0.25) 0px 10px 20px 0px;
}

@media (min-width: 768px) {
  .halfSize {
    width: 152px;
  }
}
